.container {
  padding: 1em;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

@media screen and (min-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .container {
    grid-area: 2 / 1 / 3 / 2;
  }
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 799px) {
  .container {
    margin-bottom: 4em;
  }
}
